lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

config.js
spotify_appkey.key
cache/*
settings/*
queue.txt
i-need-a-playlist.njsproj
i-need-a-playlist.sln
i-need-a-playlist.sublime-project
i-need-a-playlist.sublime-workspace
